<nav class="navbar">
    <div class="logo"><img src="logo.png"></div>
    
    <div class="search-bar">
      <input type="text" placeholder="Search..." />
      <button>
        <img class="lupa1" src="lupa.png">
      </button>
    </div>
    
    <div class="nav-buttons">
      <button class="cart-button">
        <img src="cart.png" class="cart1">
      </button>
      <button class="login-button">
        <i class="fas fa-user"></i> Login
      </button>
      <div class="user-photo">
        <img src="user.png" alt="User Photo" />
      </div>
    </div>
  </nav>
  